.submitBtn {
    height: 6rem;
    z-index: 2;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    font-weight: 800;
    color: $white;
    background-color: $color-blue;

    // & #infoForm {
    //     display: grid;
    // }
}
