/* #46bcec */
/* \#f0e2c9 */
/* #a62f03 */
/* #333333 */

/* #a3bfd0 */
/* font-family: 'Alice', serif;

    font-family: 'Raleway', sans-serif; */

html,
body,
#root {
    /* height: 100vh;
    width: 100vh; */
    box-sizing: border-box;
    /* background-color: magenta; */
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

#myArea {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~nav~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav {
    height: 100px;
    z-index: 5;
    /* width: 100%; */
    background-color: #f0e2c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #049dbf; */
    color: #a62f03;
    font-family: 'Alice', serif;
    box-shadow: 0px 5px 20px rgba(5, 5, 5, 0.5);
    position: relative;
}
/* .nav::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffffaa;
    box-shadow: 0px 5px 20px rgba(5, 5, 5, 1);
} */
.submitBtn {
    z-index: 10;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    background-color: #46bcec;
}
.progressBar {
    z-index: 1;
    position: absolute;
    /* transform: translate3d(-150%, 0, 0); */
    width: 200%;
    height: 100%;
}
@keyframes load {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}
.loading {
    animation: load 8s linear infinite;
    background: rgb(179, 250, 255);
    background: linear-gradient(
        90deg,
        rgba(179, 250, 255, 0) 0%,
        rgba(179, 250, 255, 1) 5%,
        rgba(70, 188, 236, 1) 15%,
        rgba(70, 188, 236, 1) 85%,
        rgba(179, 250, 255, 1) 95%,
        rgba(179, 250, 255, 0) 100%
    );
}

.title {
    z-index: 4;
    font-size: 35px;
}
.nav .upload {
    z-index: 10;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    background-color: #46bcec;
}
.nav .upload:hover {
    cursor: pointer;
}
.logoContainer {
    z-index: 10;
    padding: 15px;
    height: 100%;
}
.navLinks {
    z-index: 10;
    display: flex;
    list-style: none;
}
.navBtns {
    z-index: 10;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    background-color: #46bcec;
}
.navBtns a,
.navBtns button {
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.navBtns:hover {
    cursor: pointer;
}
.logo {
    height: 100%;
}
.logo:hover {
    cursor: pointer;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~nav~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~landing~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.landing {
    /* background-color: limegreen; */
    height: 100vh;
    width: 100%;
    /* display: grid;
    grid: 150px 1fr / 1fr; */
    /* flex-direction: column; */
}
.suggestionContainer {
    z-index: 10;
    /* width: 100%; */
    /* height: 150px; */
    position: fixed;
    top: 100px;
    left: 0;
    /* width: 100%; */
    height: 150px;
    background-color: #f0e2c9cc;
    display: flex;
    /* grid-template-columns: repeat(1fr);
    grid-template-rows: 1fr; */
    align-items: center;
}
.suggestedEye {
    height: 130px;
    width: 130px;
    margin-left: 10px;
}
.suggestedEye img {
    /* margin: auto 0; */
    height: 130px;
    width: 130px;
    object-fit: fill;
}
.worldMap {
    width: 100%;
    height: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~landing~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~add~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.add {
    flex: 1;

    display: grid;
    grid: 1fr/ 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr; */
}
/*  */
.mapSection {
    /* background-color: steelblue; */
}
.mapSection > div {
    width: 100%;
    height: 100%;
    position: relative;
}
/*  */
.imageSection {
    background-color: #333;
    border-left: 2px solid #f0e2c9;
    border-right: 2px solid #f0e2c9;
    /* z-index: 5; */
    display: flex;
    flex-direction: column;
}
.inputContainer {
    height: 150px;
    padding: 10px;
}
.inputContainer form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
}
.submitImage {
    border: 5px outset #46bcec;
    background-color: #46bcecaa;
    color: #fff;
    cursor: pointer;
    font-weight: 500;

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 3px 3px 5px rgba(5, 5, 5, 0.6);
    /* /* transition: 0.4s ease-in-out; */
    transition: 0.025s ease-in;
}
.submitImage:active {
    background-color: #46bcec;
    box-shadow: 1px 1px 1px rgba(5, 5, 5, 1);
}
.submitImage:disabled,
.submitImage:disabled:hover {
    background-color: #a62f0322;
    border: 5px inset #a62f0399;
    color: #aaa;
    cursor: not-allowed;
}

/* hide the actual input field */
#insertedImg {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 0.1px;
    width: 0.1px;
    z-index: -2;
}
#imgLabel {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px dashed #fff;
}
#insertedImg + #imgLabel {
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;

    transition: 0.25s ease-in;
}
#insertedImg + #imgLabel:hover,
.dragOver {
    background: #46bcec33;
}

.imgBox {
    flex: 1;
    padding: 10px;
}
.imgBox .img1 {
    background-color: rgba(5, 5, 5, 0.25);
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
/*  */
.infoSection {
    background-color: #333;
    padding: 10px;
}

.infoSection #infoForm {
    display: grid;
}
#infoForm .infoFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    background-color: #f0e2c9;
    color: #a62f03;
    margin: 0;
    padding: 10px;
    border: 3px outset #f0e2c9;
}
.infoFieldset label {
    font-weight: 800;
    margin-right: 10px;
}
.infoFieldset input {
    border: none;
    background: transparent;
    color: #a62f03;
    font-weight: 500;
}

/* remove scroll bars */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='float']::-webkit-inner-spin-button,
input[type='float']::-webkit-outer-spin-button,
input[type='number'],
input[type='float'] {
    -webkit-appearance: textfield;
    margin: 0;
}
/* remove scroll bars */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~add~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~eye page~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.eye {
    display: flex;
    width: 100%;
}
.picBox img {
    width: 100%;
    height: auto;
}
.infoBox {
    padding: 0 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~eye page~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~userEyes cards~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* * {
    border: 1px solid mediumseagreen;
} */
.userEyes {
    background-color: #46bcec;
}
.card {
    /* height: 500px; */
    width: 300px;
    border: 1px solid #a62f03;
    text-align: center;
    display: inline-block;
    margin: 10px;
    background-color: #f0e2c9;
    padding: 10px;
}
.card .window {
    padding-bottom: 10px;
}
.card .window img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.card .info {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.card .info h2:nth-child(1) {
    margin: 0;
}
.card .info h2 {
    margin-bottom: 0;
    color: #a62f03;
    font-family: 'Alice', serif;
    font-weight: 900;
}
.card .info p {
    margin: 5px 0;
}
.card .info p:last-child {
    margin-bottom: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~userEyes cards~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~alerts~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.alerts {
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    /* border: 2px solid slateblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert {
    height: 50px;
    width: 100%;
    background-color: #f0e2c9;
    color: #a62f03;
    font-weight: 600;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    border: 4px outset #a62f03;
    background-color: #a62f03cc;
    color: #f0e2c9;
    border-radius: 10px;
}
.success {
    border: 4px outset #ddd;
    background-color: #46bceccc;
    color: white;
    border-radius: 10px;
    font-weight: 500;
}
.error > h3,
.success > h3 {
    font-weight: 400;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~alerts~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* <ul className='navLinks'>
            <li className='submitBtn'>
                <Link to='/register'>Register</Link> */
/* .navLinks .navBtns a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
} */
