.alerts {
    width: 100%;
    position: fixed;
    z-index: 3000;
    // z-index: 3;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span {
        width: 100%;
    }

    & .alert {
        font-size: $small-font-size;
        height: 5rem;
        width: 100%;
        color: $color-red;
        font-weight: 600;
        text-align: center;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    & h3 {
        font-weight: 400;
        cursor: default;
    }

    & .remove {
        position: absolute;
        right: 2rem;
        cursor: pointer;
    }

    & .error {
        border: 4px outset $color-red;
        background-color: rgba($color-red, 0.8);
        color: $color-white;
    }

    & .success {
        border: 4px outset $color-white;
        background-color: rgba($color-blue, 0.8);
        color: $white;
        font-weight: 300;
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~animation group
.alertAnimation-enter {
    // opacity: 0.01;
    // position: absolute;
    margin-bottom: -5rem;
    // transform: translate3d(0, 100%, 0);
}
.alertAnimation-enter.alertAnimation-enter-active {
    // opacity: 1;
    margin-bottom: 0;
    // position: absolute;
    // transform: translate3d(0, 0, 0);
    transition: 0.5s ease-out;
}
.alertAnimation-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.alertAnimation-leave.alertAnimation-leave-active {
    opacity: 0.01;
    transform: translate3d(0, -100%, 0);
    transition: 0.5s ease-out;
}
