.userBox {
    height: 15rem;
    width: 100%;
    position: relative;
    grid-area: user;
    z-index: 2;
    box-shadow: 5px 0 1rem rgba(5, 5, 5, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    & .avatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    & .textContainer {
        position: absolute;
        height: 100%;
        padding-bottom: 1rem;

        display: flex;
        align-items: flex-end;

        & .username {
            // position: relative;
            background-color: rgba($color-white, 0.7);
            border-radius: 6px;
            padding: 1.2rem 3rem;
            text-shadow: 0 0 5px $color-white;
            font-size: 20px;
            color: $color-black;
        }

        & .eyeBtn {
            background-color: rgba($color-blue, 0.7);
            transition: 0.5s ease-out;
            margin: 0 0 0 1rem;

            &:hover {
                background-color: rgba($color-blue, 1);
            }
        }
    }
}
