/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
$color-red: #a62f03;
$color-blue: #46bcec;
$color-white: #f0e2c9;
$color-black: #333;
$white: #fff;
$black: #000;

$large-font-size: 2rem;
$base-font-size: 1.6rem;
$small-font-size: 1.4rem;
$super-small-font-size: 1rem;
$h1: 4rem;
$h2: 3rem;

$break1: 1070px;
$break2: 870px;
$break3: 550px;
$break4: 360px;
