*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden; }

#root {
  display: flex;
  flex-direction: column; }

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.spinning {
  animation: spin 1s linear infinite; }

.submitBtn {
  cursor: pointer;
  height: 6rem;
  z-index: 2;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 800;
  color: #fff;
  background-color: #46bcec; }

.nav {
  height: 10rem;
  z-index: 10;
  background-color: #f0e2c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a62f03;
  font-family: 'Alice', serif;
  box-shadow: 0px 5px 20px rgba(5, 5, 5, 0.5);
  position: absolute;
  width: 100%; }
  .nav .title {
    z-index: 4;
    font-size: 4rem; }
  .nav .logoContainer {
    z-index: 10;
    padding: 1.5rem;
    height: 100%; }
    .nav .logoContainer .logo {
      height: 100%; }
      .nav .logoContainer .logo:hover {
        cursor: pointer; }
  .nav .navLinks {
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 1.5rem;
    padding-left: 0; }
    .nav .navLinks .navBtns a,
    .nav .navLinks .navBtns button {
      padding: 1.5rem;
      margin: 5px;
      font-size: 1.4rem;
      font-weight: 800;
      text-decoration: none;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      border: none;
      border-radius: 6px;
      background-color: transparent;
      font-size: 1.5rem;
      cursor: pointer;
      background-color: #46bcec; }

.alerts {
  width: 100%;
  position: fixed;
  z-index: 3000;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .alerts span {
    width: 100%; }
  .alerts .alert {
    font-size: 1.4rem;
    height: 5rem;
    width: 100%;
    color: #a62f03;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .alerts h3 {
    font-weight: 400;
    cursor: default; }
  .alerts .remove {
    position: absolute;
    right: 2rem;
    cursor: pointer; }
  .alerts .error {
    border: 4px outset #a62f03;
    background-color: rgba(166, 47, 3, 0.8);
    color: #f0e2c9; }
  .alerts .success {
    border: 4px outset #f0e2c9;
    background-color: rgba(70, 188, 236, 0.8);
    color: #fff;
    font-weight: 300; }

.alertAnimation-enter {
  margin-bottom: -5rem; }

.alertAnimation-enter.alertAnimation-enter-active {
  margin-bottom: 0;
  transition: 0.5s ease-out; }

.alertAnimation-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.alertAnimation-leave.alertAnimation-leave-active {
  opacity: 0.01;
  transform: translate3d(0, -100%, 0);
  transition: 0.5s ease-out; }

#myArea {
  flex: 1;
  margin-top: 10rem;
  display: flex;
  flex-direction: column; }

.screenBlock {
  z-index: 9;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 226, 201, 0.8); }

.suggestionOpen {
  z-index: 4;
  width: 100%;
  max-height: 10rem;
  background-color: #333;
  box-shadow: 5px 0 5px rgba(5, 5, 5, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  will-change: transform, position; }
  .suggestionOpen .icon {
    align-self: flex-start;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    fill: #a62f03;
    stroke-width: 4rem;
    stroke-linecap: round;
    stroke: #f0e2c9; }
  .suggestionOpen .suggestionContainer {
    margin: 1rem 2rem 1rem 0;
    flex: 1;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(10, 1fr); }
    .suggestionOpen .suggestionContainer .suggestedEye {
      cursor: pointer;
      height: 8rem;
      min-width: 8rem;
      border-radius: 8px;
      border: 4px outset #333;
      box-shadow: 3px 3px 5px #050505;
      overflow: hidden; }
      .suggestionOpen .suggestionContainer .suggestedEye img {
        color: #f0e2c9;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.suggestionClosed {
  z-index: 3;
  min-height: 10rem;
  background-color: transparent;
  position: absolute;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  display: flex; }
  .suggestionClosed .icon {
    cursor: pointer;
    pointer-events: all;
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    fill: #a62f03;
    stroke-width: 4rem;
    stroke-linecap: round;
    stroke: #f0e2c9; }

.suggestionAnimation-enter {
  position: absolute;
  transform: translate3d(0, -100%, 0); }

.suggestionAnimation-enter.suggestionAnimation-enter-active {
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: 0.2s ease-out 0.2s; }

.suggestionAnimation-leave {
  position: absolute;
  transform: translate3d(0, 0, 0); }

.suggestionAnimation-leave.suggestionAnimation-leave-active {
  position: absolute;
  transform: translate3d(0, -100%, 0);
  transition: 0.2s ease-out; }

.login-register {
  height: 100%;
  width: 100%;
  background-color: #46bcec;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-register .form-container {
    padding: 5rem;
    border-radius: 1rem;
    background-color: #f0e2c9;
    box-shadow: 3px 5px 1rem rgba(5, 5, 5, 0.5); }
    .login-register .form-container h2 {
      margin-top: 0;
      margin-bottom: 2rem;
      font-family: 'Alice', Serif;
      color: #a62f03;
      font-size: 3rem;
      text-align: center; }
    .login-register .form-container form {
      display: flex;
      flex-direction: column; }
      .login-register .form-container form input {
        font-family: 'Raleway', sans-serif;
        font-size: 1.6rem;
        padding: 5px;
        margin-bottom: 5px; }
      .login-register .form-container form input[type='submit'] {
        margin: 2rem 0; }
    .login-register .form-container p {
      font-size: 1.6rem; }
      .login-register .form-container p a {
        color: #a62f03;
        font-weight: 600; }

.cluster {
  cursor: pointer;
  border-radius: 1rem;
  background-color: #333333;
  box-shadow: 1px 1px 5px #46bcec;
  color: #46bcec;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cluster svg {
    width: 3rem;
    height: 3rem;
    fill: #46bcec; }

.marker {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  top: -100%;
  left: -50%;
  transform: translate3d(-50%, -100%, 0) rotate3d(0, 0, 1, 90deg); }
  .marker svg {
    fill: #a62f03;
    filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 10px #fff); }

.markerInfo {
  z-index: 1;
  text-align: center;
  background-color: #f0e2c9;
  border-radius: 5px;
  padding: 5px;
  max-width: 12rem;
  overflow: visible;
  position: absolute;
  transform: translate3d(-50%, -120%, 0);
  box-shadow: 1px 1px 10px #333;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .markerInfo h2 {
    flex: 1;
    font-size: 1.4rem;
    margin: 5px 0;
    color: #a62f03;
    font-family: 'Alice', serif;
    font-weight: 800; }
  .markerInfo .window {
    position: relative;
    border-radius: 6px;
    height: 10rem;
    min-width: 10rem; }
    .markerInfo .window .xBlock {
      padding: 0 0 2px 5px;
      border-radius: 0 0 0 5px;
      background-color: #f0e2c9;
      font-size: 1.4rem;
      font-weight: 900;
      position: absolute;
      right: 0;
      top: -5px;
      color: #a62f03;
      cursor: pointer; }
    .markerInfo .window img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      object-position: center; }
  .markerInfo .goto {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    background-color: #46bcec;
    border-radius: 4px;
    padding: 3px 0; }
  .markerInfo .svgDownBox {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 100%;
    fill: #f0e2c9;
    stroke: #a62f03;
    stroke-width: 5%; }

.landing {
  flex: 1; }
  .landing #worldMap {
    width: 100%;
    height: 100%; }

.add {
  flex: 1;
  display: grid;
  grid: 1fr/ 1fr 1fr 1fr;
  background-color: #333; }

.mapSection {
  height: 100%; }
  .mapSection > div {
    width: 100%;
    height: 100%;
    position: relative; }

.imageSection {
  border-left: 2px solid #f0e2c9;
  border-right: 2px solid #f0e2c9;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; }
  .imageSection .inputContainer {
    padding: 1rem 1rem 0 1rem;
    box-shadow: 0px 3px 5px rgba(5, 5, 5, 0.6); }
    .imageSection .inputContainer form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: 100%;
      width: 100%; }
      .imageSection .inputContainer form .submitImage {
        border: 5px outset #46bcec;
        border-radius: 5px;
        background-color: rgba(70, 188, 236, 0.8);
        color: #fff;
        cursor: pointer;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        box-shadow: 3px 3px 5px rgba(5, 5, 5, 0.6);
        transition: 0.025s ease-in; }
        .imageSection .inputContainer form .submitImage:active {
          background-color: #46bcec;
          box-shadow: 1px 1px 1px #050505; }
        .imageSection .inputContainer form .submitImage:disabled, .imageSection .inputContainer form .submitImage:disabled:hover {
          background-color: rgba(166, 47, 3, 0.4);
          box-shadow: none;
          border: 5px inset rgba(166, 47, 3, 0.4);
          color: #aaa;
          cursor: not-allowed; }
      .imageSection .inputContainer form #insertedImg {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        height: 0.1px;
        width: 0.1px;
        z-index: -2; }
      .imageSection .inputContainer form #imgLabel {
        font-size: 1.6rem;
        display: grid;
        justify-content: center;
        align-content: center;
        border: 2px dashed #fff;
        border-radius: 1rem;
        color: #fff;
        cursor: pointer;
        transition: all 0.25s ease-in; }
      .imageSection .inputContainer form #insertedImg + .imageSection .inputContainer form #imgLabel {
        width: 100%;
        height: 100%;
        cursor: pointer; }
      .imageSection .inputContainer form #insertedImg + #imgLabel:hover {
        background: rgba(70, 188, 236, 0.2); }
  .imageSection .imgBox {
    flex: 1;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .imageSection .imgBox .img1 {
      box-shadow: 3px 3px 5px rgba(5, 5, 5, 0.4);
      border-radius: 5px;
      object-fit: cover;
      max-width: 100%;
      height: auto;
      image-orientation: from-image; }

.dragOver {
  background: rgba(70, 188, 236, 0.2); }

.infoSection {
  padding: 1rem; }
  .infoSection #infoForm {
    display: grid; }
    .infoSection #infoForm .infoFieldset {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 8px;
      background-color: #f0e2c9;
      color: #a62f03;
      margin: 0 0 2px 0;
      padding: 10px;
      border: 3px outset #f0e2c9; }
      .infoSection #infoForm .infoFieldset label {
        font-size: 1.6rem;
        font-weight: 800;
        margin-right: 1rem; }
      .infoSection #infoForm .infoFieldset input {
        font-size: 1.4rem;
        border: none;
        background: transparent;
        color: #a62f03;
        font-weight: 500;
        flex: 1; }
      .infoSection #infoForm .infoFieldset div {
        flex: 1; }
      .infoSection #infoForm .infoFieldset input[type='number']::-webkit-inner-spin-button,
      .infoSection #infoForm .infoFieldset input[type='number']::-webkit-outer-spin-button,
      .infoSection #infoForm .infoFieldset input[type='float']::-webkit-inner-spin-button,
      .infoSection #infoForm .infoFieldset input[type='float']::-webkit-outer-spin-button,
      .infoSection #infoForm .infoFieldset input[type='number'], .infoSection #infoForm .infoFieldsetinput[type='float'] {
        -webkit-appearance: textfield;
        margin: 0; }

.eyeContainer {
  width: 100%;
  background-color: #f0e2c9; }
  .eyeContainer .eye {
    flex: 1;
    display: flex;
    width: 100%;
    background-color: #333; }
    .eyeContainer .eye .picBox img {
      position: relative;
      box-shadow: 5px 0 5px rgba(5, 5, 5, 0.25);
      width: 100%;
      height: auto; }
    .eyeContainer .eye .infoBox {
      flex: 1;
      padding: 0 2rem;
      background-color: #f0e2c9;
      overflow-wrap: anywhere;
      display: flex;
      flex-direction: column; }
      .eyeContainer .eye .infoBox h2 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Alice', Serif;
        color: #a62f03;
        padding-top: 2rem;
        padding-bottom: 1.5rem; }
      .eyeContainer .eye .infoBox .infoFieldset {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #f0e2c9;
        color: #a62f03;
        margin: 0;
        padding: 1rem;
        border: none; }
        .eyeContainer .eye .infoBox .infoFieldset label {
          font-size: 1.6rem;
          font-weight: 800;
          margin-right: 1rem; }
        .eyeContainer .eye .infoBox .infoFieldset input {
          font-size: 1.4rem;
          border: none;
          background: transparent;
          color: #a62f03;
          font-weight: 500;
          flex: 1; }
        .eyeContainer .eye .infoBox .infoFieldset div {
          flex: 1; }
        .eyeContainer .eye .infoBox .infoFieldset input[type='number']::-webkit-inner-spin-button,
        .eyeContainer .eye .infoBox .infoFieldset input[type='number']::-webkit-outer-spin-button,
        .eyeContainer .eye .infoBox .infoFieldset input[type='float']::-webkit-inner-spin-button,
        .eyeContainer .eye .infoBox .infoFieldset input[type='float']::-webkit-outer-spin-button,
        .eyeContainer .eye .infoBox .infoFieldset input[type='number'], .eyeContainer .eye .infoBox .infoFieldsetinput[type='float'] {
          -webkit-appearance: textfield;
          margin: 0; }

.userEyes {
  flex: 1;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }
  .userEyes .card {
    border: 1px solid #a62f03;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #f0e2c9;
    border-radius: 6px;
    padding: 1rem;
    width: 29rem;
    overflow-wrap: anywhere; }
    .userEyes .card .window {
      position: relative; }
      .userEyes .card .window .remove {
        padding: 0 0 5px 7px;
        border-radius: 0 0 0 5px;
        background-color: #f0e2c9;
        font-size: 1.4rem;
        font-weight: 900;
        position: absolute;
        right: -5px;
        top: -8px;
        color: #a62f03;
        cursor: pointer; }
      .userEyes .card .window img {
        border-radius: 6px;
        width: 27rem;
        height: 21rem;
        object-fit: cover;
        object-position: center; }
    .userEyes .card .info {
      font-family: 'Raleway', sans-serif;
      font-weight: 500; }
      .userEyes .card .info h2:nth-child(1) {
        margin: 2rem 5px;
        letter-spacing: 1px;
        font-weight: 900; }
      .userEyes .card .info h2 {
        font-size: 2rem;
        margin-bottom: 0;
        color: #a62f03;
        font-family: 'Alice', serif;
        font-weight: 800; }
      .userEyes .card .info p {
        font-size: 1.4rem;
        margin: 5px 0; }
      .userEyes .card .info p:last-child {
        margin-bottom: 1.5rem; }
