.nav {
    height: 10rem;
    z-index: 10;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-red;
    font-family: 'Alice', serif;
    box-shadow: 0px 5px 20px rgba(5, 5, 5, 0.5);
    position: absolute;
    width: 100%;

    & .title {
        z-index: 4;
        font-size: $h1;
    }

    & .logoContainer {
        z-index: 10;
        padding: 1.5rem;
        height: 100%;

        .logo {
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    & .navLinks {
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding-right: 1.5rem;
        padding-left: 0;

        & .navBtns {
            a,
            button {
                padding: 1.5rem;
                margin: 5px;

                font-size: $small-font-size;
                font-weight: 800;
                text-decoration: none;
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                border: none;
                border-radius: 6px;
                background-color: transparent;
                font-size: 1.5rem;
                cursor: pointer;
                background-color: $color-blue;
            }
        }
        & .avatar {
            height: 9rem;
            width: 9rem;
            cursor: pointer;
            // background-color: lightseagreen;
            margin-left: 1rem;

            // display: flex;
            // flex-direction: column;
            // justify-content: space-around;
            // align-items: center;
            // filter: drop-shadow(4px 4px 4px $color-black);

            & img {
                // z-index: 20;
                height: 100%;
                width: 100%;
                border-radius: 50%;

                object-fit: cover;
            }
            & .name {
                position: absolute;
                top: 75%;
                font-family: 'Raleway', sans-serif;
                color: $color-black;
                text-shadow: 1px 1px 5px $white;
                text-align: center;
                font-size: $small-font-size;
                font-weight: 800;
                width: 9rem;
                padding: 3px;
                background-color: rgba($color-white, 0.8);
                // color: $color-red;
            }

            .dropMenu {
                // background-color: sienna;
                position: absolute;
                right: 1rem;
                top: 100%;
                z-index: 3;
                min-width: 15rem;
                height: 20rem;

                display: flex;
                flex-direction: column;

                & li {
                    position: relative;

                    list-style: none;
                    text-align: right;

                    & .dropText {
                        font-family: 'Raleway', sans-serif;
                        text-align: right;

                        color: $color-black;
                        text-shadow: 1px 1px 5px $white;
                        font-size: $small-font-size;
                        font-weight: 800;
                        // width: 9rem;
                        padding: 5px 1rem 5px 5px;
                        border: 1px solid $color-white;
                        background-color: rgba($color-white, 0.8);
                    }
                }
            }
        }
    }
}
