.userEyes {
    flex: 1;
    background-color: $color-black;

    & .userBox {
    }
    & .cardBox {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        & .card {
            // width: 30rem;
            border: 1px solid $color-red;
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: 1rem;
            background-color: $color-white;
            border-radius: 6px;
            padding: 1rem;
            width: 29rem;
            overflow-wrap: anywhere;

            & .window {
                position: relative;
                // padding-bottom: 1.5rem;

                & .remove {
                    padding: 0 0 5px 7px;
                    border-radius: 0 0 0 5px;
                    background-color: $color-white;
                    font-size: $small-font-size;
                    font-weight: 900;
                    position: absolute;
                    right: -5px;
                    top: -8px;
                    color: $color-red;
                    cursor: pointer;
                }

                & img {
                    border-radius: 6px;
                    width: 27rem;
                    height: 21rem;
                    object-fit: cover;
                    object-position: center;
                }
            }

            & .info {
                // height: 100%;
                // width: 100%;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;

                & h2:nth-child(1) {
                    margin: 2rem 5px;
                    letter-spacing: 1px;
                    font-weight: 900;
                }

                & h2 {
                    font-size: $large-font-size;
                    margin-bottom: 0;
                    color: $color-red;
                    font-family: 'Alice', serif;
                    font-weight: 800;
                }

                & p {
                    font-size: $small-font-size;
                    margin: 5px 0;
                }

                & p:last-child {
                    margin-bottom: 1.5rem;
                }
            }
            & .toEye {
                padding: 5px;
                border-radius: 0 0 5px 5px;
                font-size: $small-font-size;
                // font-weight: 900;
                // position: absolute;
                left: -5px;
                top: -8px;
                color: $color-red;
                cursor: pointer;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 4rem;
                background-color: rgba($color-black, 0.5);
                fill: $color-white;

                & svg {
                    height: 3rem;
                    width: 3rem;
                }
                & .displayEyePage {
                    margin: auto;
                    color: $color-white;
                    font-weight: 600;
                }
            }
        }
    }
}
