@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 1s linear infinite;
}

@keyframes suggestionEnter {
    from {
        // opacity: 0;
        // transform: scale3d(0, 0.01, 0);
        transform: translate3d(0, -100%, 0);
        // transform: scale3d(1 0.01 1);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.CSSTransitionSuggestions-enter {
    opacity: 0.01;
    // transform: translate3d(0, 100%, 0);
}
.CSSTransitionSuggestions-enter .suggestionsCSS-enter-active {
    opacity: 1;
    // transform: translate3d(0, 0, 0);
    transition: all 5s ease-out;
}
// .suggestionsCSS-exit {
//     transform: translate3d(0, 0, 0);

//     &-active {
//         transform: translate3d(0, -100%, 0);
//     }
// }
